table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

td {
  border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
  // background-color: #dddddd;
}

.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;
  &:hover {
    background-color: transparent;
    color: orange !important;
  }
}

.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: rgb(233, 61, 61);
  &:hover {
    background-color: transparent;
    color: red !important;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;

  .form-group {
    width: 49%;
  }
}

.btn-form-add {
  padding: 5px;
  text-align: center;
}
